.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* body {
  background-color: coral;
} */

/* *{
  outline: 1px solid red;
 } */


h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.topname {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


.blink {
  animation: blink-animation 1s steps(1, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/*
Coloring

*/

.hero {
  background-color: #2274A5;
}

body {
  background-color: #121619;
}

.navbar {
  background-color: #816C61;
}

p {
  color: #FFFFF3
}

.footer {
  background-color: #816C61;
}

.card {
  background-color: #E9F1F7;
}

h2 {
  color: #E9F1F7;
}

.title {
  color: black;
}

a {
  color: #ED254E;
  font-weight: 800;
}

.subtitle {
  color: #121619;
}

.content p {
  color: #121619
}


/*show 1 set of projects on mobile, 1 on desktop MAKING RESPONSIVE.*/

@media only screen and (min-width: 680px) {
  .hide-pc {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}

.rails {
  height: 75px
}

/* MS certs */

/* .ms-item {

} */

.ms-caption {
  transform: translate(40%);

}

.ms-img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.badge-cont {
  text-align: center;

}